<div class="row w-100 mx-auto">
    <div class="d-flex col justify-content-start pl-0"></div>
    <div class="d-flex col justify-content-center text-center">
        <a class="navbar-brand px-4" [routerLink]="['/']"> A Fake Store </a>
    </div>
    <div class="d-flex col justify-content-end pr-0">
        <button class="btn btn-white-fdfdfd px-4" type="submit">
            <div>
                <span
                    *ngIf="numOfItemsInCart$ | async"
                    class="badge badge-warning position-absolute font-weight-bold rounded-circle text-white"
                    style="right: 1rem; top: 3px"
                >
                    {{ numOfItemsInCart$ | async }}
                </span>
                <fa-icon [icon]="faShoppingCart"></fa-icon>
            </div>
        </button>
    </div>
</div>
