<img class="col-2 px-0" [src]="product.image" style="object-fit: contain" />
<div class="col-10">
    <p class="font-weight-bold my-0" style="line-height: 1.2">
        {{ product.title }}
    </p>
    <p class="my-0">Price: {{ product.price | currency }}</p>
    <button
        *ngIf="canRemoveItem"
        [disabled]="!canRemoveItem"
        class="btn p-0 text-danger"
        (click)="removeFromCart(product)"
    >
        <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
        <span class="position-relative" style="bottom: 1.5px"> remove </span>
    </button>
</div>
