<div class="mb-3">
    <carousel [interval]="0" [showIndicators]="false">
        <slide *ngFor="let product of products$ | async">
            <app-product-card
                *ngIf="length"
                [product]="product"
            ></app-product-card>
        </slide>
        <div
            *ngIf="!length"
            class="d-block mx-auto mt-1 bg-light product-card-skeleton rounded"
            style="max-width: 17rem; height: 21rem"
        >
            <div
                class="product-card-skeleton product-card-skeleton__skeleton-btn bg-white mx-auto position-relative rounded"
            ></div>
        </div>
    </carousel>
    <p class="text-center">Total amount: {{ total | currency }}</p>
</div>
