/* You can add global styles to this file, and also import other style files */

body {
    background-color: #fdfdfd;
}

.text-transparent {
    color: #0000 !important;
}

.rounded-0-right {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.rounded-0-left {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.carousel-control-prev,
.carousel-control-next {
    background: #343a40;
    width: 3rem;
}

.bottom-0 {
    bottom: 0;
}

.right-0 {
    right: 0;
}

.background-image-none {
    background-image: none !important;
}

#paymentCardErrorContainer {
    color: #dc3545;
}

.product-card-skeleton {
    max-width: 17rem;
    height: 21rem;
    background-image: linear-gradient(
        to right,
        rgb(248 249 250 / 5%) 0%,
        rgb(248 249 250 / 5%) 25%,
        hsl(210deg 17% 96%) 50%,
        rgb(248 249 250 / 5%) 100%
    );
    background-repeat: no-repeat;
    animation: shine 1050ms ease-in-out infinite;
    &__skeleton-btn {
        height: 2.7rem;
        width: 16rem;
        top: 17rem;
        background-image: none;
    }
}

@keyframes shine {
    0% {
        background-position: -50rem 0;
    }
    100% {
        background-position: 50rem 0;
    }
}

.user-select-none {
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
